.icon {
  &-c {
    color: #565656;
  }

  &-clojure {
    color: #DA5856;
  }

  &-css3-alt {
    color: #573F7B;
  }

  &-elixir {
    color: #6E4B7D;
  }

  &-erlang {
    color: #B73C97;
  }

  &-go {
    color: #395EAA;
  }

  &-haskell {
    color: #473D62;
  }

  &-html5-alt {
    color: #FF7440;
  }

  &-java {
    color: #2B69B5;
  }

  &-javascript-alt {
    color: #F7DE23;
  }

  &-objc {
    color: #438DFF;
  }

  &-perl {
    color: #0097C2;
  }

  &-php-alt {
    color: #505D94;
  }

  &-python {
    color: #3D76A9;
  }

  &-ruby {
    color: #701C1C;
  }

  &-rust {
    color: #DDA383;
  }

  &-scala {
    color: #C13142;
  }

  &-shell {
    color: #88DF52;
  }
}

.devicon {
  &-cplusplus-plain {
    color: #F34C7C;
  }

  &-csharp-plain {
    color: #76398B;
  }

  &-coffeescript-original {
    color: #284975;
  }

  &-swift-plain {
    color: #FFAA47;
  }

  &-typescript-plain {
    color: #0079CB;
  }
}