.icon-c {
  color: #565656;
}

.devicon-cplusplus-plain {
  color: #F34C7C;
}

.devicon-csharp-plain {
  color: #76398B;
}

.icon-clojure {
  color: #DA5856;
}

.devicon-coffeescript-original {
  color: #284975;
}

.icon-css3-alt {
  color: #573F7B;
}

.icon-elixir {
  color: #6E4B7D;
}

.icon-erlang {
  color: #B73C97;
}

.icon-go {
  color: #395EAA;
}

.icon-haskell {
  color: #473D62;
}

.icon-html5-alt {
  color: #FF7440;
}

.icon-java {
  color: #2B69B5;
}

.icon-javascript-alt {
  color: #F7DE23;
}

.icon-objc {
  color: #438DFF;
}

.icon-perl {
  color: #0097C2;
}

.icon-php-alt {
  color: #505D94;
}

.icon-python {
  color: #3D76A9;
}

.icon-ruby {
  color: #701C1C;
}

.icon-rust {
  color: #DDA383;
}

.icon-scala {
  color: #C13142;
}

.icon-shell {
  color: #88DF52;
}

.devicon-swift-plain {
  color: #FFAA47;
}

.devicon-typescript-plain {
  color: #0079CB;
}