.repository-detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 0;
  padding: 0;
  transform: scaleY(0);
  transition: all 0.25s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  overflow: hidden;

  &.open {
    max-height: 20rem;
    padding: 2rem 3rem;
    transform: scaleY(1);
  }

  &__box {
    padding: 0 1rem;
  }

  &__key {
    margin-right: .5rem;
    color: #ccc;
    font-size: 1.4rem;
  }

  &__value {
    display: inline-block;
    font-size: 1.4rem;
  }
}