.about {
  margin: 2rem;
}

.about-topic {
  margin-bottom: 2rem;
}

.about-topic__title {
  color: #FFF;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

.about-topic__description {
  font-size: 1.6rem;
  text-align: justify;
}

.about-topic__icon {
  margin-right: 2rem;
  color: #666;
  font-size: 4rem;
  text-decoration: none;
  vertical-align: middle;
}

.about-topic__icon:hover {
  color: #999;
}

.about-topic__ref {
  margin: 0 .5rem;
  color: #999;
  text-decoration: underline;
}