.header-menu__nav {
  position: absolute;
  top: 100%;
  right: 0;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.header-menu__nav-open {
  opacity: 1;
  visibility: visible;
}

.header-menu__list {
  width: 20rem;
  margin: 0;
  padding: 0;
  border: .1rem solid rgba(255, 255, 255, 0.2);
  border-top: none;
  list-style: none;
}

.header-menu__element {
  width: 100%;
  border-bottom: .1rem solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.header-menu__link {
  padding: 0 2rem;
  color: #FFF;
  font-size: 2rem;
  line-height: 2;
  text-decoration: none;
}